<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Work #2</title>
  </head>

  <body>
    <div class="header white-text">
      <h1 style="display: inline">Welcome, Admin</h1>
      <a
        href="index.html"
        class="custom-btn right"
        style="font-size: calc(0.8vw + 0.8em)"
        >Log out</a
      >
    </div>

    <div class="background">
      <div class="inner-canvas" style="padding: 2% 3% 2% 3%; min-height: 750px">
        <h4 class="white-text">What are we going to do?</h4>
        <div class="row">
          <div class="col s12 m6 l4">
            <ul
              class="collapsible"
              style="border: 0px transparent black !important; outline: none"
            >
              <li
                style="border: 0px transparent black !important; outline: none"
              >
                <div
                  class="
                    collapsible-header
                    thin-writing
                    element-header
                    center-align
                  "
                >
                  Users
                </div>
                <div class="collapsible-body black-text thin-writing">
                  <div class="list-of-items">
                    <div class="item">
                      User #28261
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      User #27667
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      User #97821
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      User #2281337
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="center-align">
                      <a href="" class="custom-btn black-text">Create one</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 m6 l4">
            <ul
              class="collapsible"
              style="border: 0px transparent black !important; outline: none"
            >
              <li
                style="border: 0px transparent black !important; outline: none"
              >
                <div
                  class="
                    collapsible-header
                    thin-writing
                    element-header
                    center-align
                  "
                >
                  Games
                </div>
                <div class="collapsible-body black-text thin-writing">
                  <div class="list-of-items">
                    <div class="item">
                      Slot - Machine
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      Russian roulette
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      Poker
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      One Armed
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      21
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      GOAT
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="center-align">
                      <a href="" class="custom-btn black-text">Create one</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 m6 l4">
            <ul
              class="collapsible"
              style="border: 0px transparent black !important; outline: none"
            >
              <li
                style="border: 0px transparent black !important; outline: none"
              >
                <div
                  class="
                    collapsible-header
                    thin-writing
                    element-header
                    center-align
                  "
                >
                  Limited offers
                </div>
                <div class="collapsible-body black-text thin-writing">
                  <div class="list-of-items">
                    <div class="item">
                      Russian Roulette
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      Pool party
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="item">
                      Live music
                      <a href="#" class="custom-btn-red right black-text"
                        >Delete</a
                      >
                      <a href="#" class="custom-btn-green right black-text"
                        >Update</a
                      >
                      <a href="#" class="custom-btn-blue right black-text"
                        >Info</a
                      >
                    </div>
                    <hr />
                    <div class="center-align">
                      <a href="" class="custom-btn black-text">Create one</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% include "Evdokimov/footer.html" %}
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/adminDeletingElements.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var options = {};
        var instances = M.Sidenav.init(elems, options);
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var options = {};
        var instances = M.Collapsible.init(elems, options);
      });
    </script>
  </body>
</html>
