<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/feedbacks.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab Work #2</title>
</head>

<body>

  {% include "Evdokimov/navbar.html" %}
    <div class="background">
        <div class="inner-canvas" style="padding-bottom: 5%; padding-top: 5%;">
            <h3 class="white-text cursive-text center-align feedbacks-header">If you want, you can also check feedbacks about our casino and resort</h3>
            <div class="row">
                <div class="col s12 feedback-wrapper">
                    <div class="feedback-card">
                        <div class="row info-wrapper white-text">
                            <div class="col s12 m3 center-align">
                                <img src="{% static 'img/guest-user.jpg' %}" alt="" class="feedback-user-photo">
                            </div>
                            <div class="col s12 m9">
                                <div class="row">
                                    <div class="col s12 m4 center-align">
                                        <span class="cursive-text feedback-header">Guest | 99</span>
                                    </div>
                                    <div class="col s12 m4 rating center-align">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating unactive-rating">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating unactive-rating">
                                    </div>
                                    <div class="col s12 center-align">
                                        Excellent casino. Except my wife has been eaten by the sharks. At least i have lost my life savings in such a beautiful place.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feedback-card">
                        <div class="row info-wrapper white-text">
                            <div class="col s12 m3 center-align">
                                <img src="{% static 'img/guest-user.jpg' %}" alt="" class="feedback-user-photo">
                            </div>
                            <div class="col s12 m9">
                                <div class="row">
                                    <div class="col s12 m4 center-align">
                                        <span class="cursive-text feedback-header">Guest | 99</span>
                                    </div>
                                    <div class="col s12 m4 rating center-align">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                    </div>
                                    <div class="col s12 center-align">
                                        Excellent casino. Except my wife has been eaten by the sharks. At least i have lost my life savings in such a beautiful place.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="feedback-card">
                        <div class="row info-wrapper white-text">
                            <div class="col s12 m3 center-align">
                                <img src="{% static 'img/guest-user.jpg' %}" alt="" class="feedback-user-photo">
                            </div>
                            <div class="col s12 m9">
                                <div class="row">
                                    <div class="col s12 m4 center-align">
                                        <span class="cursive-text feedback-header">Guest | 99</span>
                                    </div>
                                    <div class="col s12 m4 rating center-align">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating ">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating unactive-rating">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating unactive-rating">
                                        <img src="{% static 'img/star-rating.png' %}" alt="" srcset="" class="star-rating unactive-rating">
                                    </div>
                                    <div class="col s12 center-align">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus nulla, perspiciatis consectetur impedit esse error nam facere iste rerum libero, cum nisi natus vero ratione enim fugit ad dignissimos nemo! Asperiores, repellat accusantium, tempora
                                        sequi voluptatum aliquid ea amet saepe maiores libero laudantium. Velit enim tenetur provident consequatur atque.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "Evdokimov/footer.html" %}
        <script src="{% static 'js/materialize.js' %}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var options = {};
                var instances = M.Sidenav.init(elems, options);
            });
        </script>

</body>

</html>