<!DOCTYPE html> {% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta token={{ csrf_token }} class="csrf_token">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Work #2</title>
</head>

<body>
    <div class="header">
        <div class="row" style="margin: 0%">
            <div class="col s1">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons inline-icon custom-beige-font">menu</i></a
          ><a
            href="#"
            data-target="slide-out"
            class="
              sidenav-trigger
              white-text
              hide-on-med-and-down
              nav-text
              thin-writing
            "
            style="font-size: calc(0.4vw + 0.4em)"
            >MENU</a
          >
        </div>
        <div class="col m2 hide-on-med-and-down">
          {% if user.is_authenticated %}
          <a
            href="logout"
            class="white-text custom-btn hide-on-med-and-down thin-writing"
            style="font-size: calc(0.4vw + 0.4em)"
            >LOG OUT</a
          >
          {% else %}
          <a
            href="registration"
            class="white-text custom-btn hide-on-med-and-down thin-writing"
            style="font-size: calc(0.4vw + 0.4em)"
            >BECOME A MEMBER</a
          >
          {% endif %}
        </div>
        <div class="col s9 m2 offset-m2">
          <a href="/" class="logo">Evdokimov</a>
            </div>
            <div class="col s1 m1 offset-m3 center-align">
                <a href="#"><i class="material-icons inline-icon custom-beige-font"
              >date_range</i
            ></a
          ><a
            href="#"
            class="white-text right hide-on-med-and-down nav-text thin-writing"
            style="font-size: calc(0.4vw + 0.4em)"
            >BOOK NOW</a
          >
        </div>
        <div class="col s1 m1 center-align">
          <a href="#"
            ><i class="material-icons inline-icon custom-beige-font"
              >location_on</i
            ></a
          ><a
            href="#"
            class="white-text right hide-on-med-and-down nav-text thin-writing"
            style="font-size: calc(0.4vw + 0.4em)"
            >OUR CASINOS</a
          >
        </div>
      </div>
    </div>

    <div id="slide-out" class="sidenav sidenav-bckgd">
      <div class="user-info white-text">
        {% if user.is_authenticated %}
        <div class="user-avatar">
          <div class="inner-canvas">
            <h4 class="user-name">{{user.first_name}} {{user.last_name}}</h4>
            <span class="white-text">Country: {{user.player.country}}</span>
            <br />
            <span class="white-text">Age: {{user.player.age}}</span>
          </div>
        </div>
        {% else %}
        <div class="user-avatar">
          <div class="inner-canvas">
            <h4 class="user-name">Guest</h4>
            <span class="white-text">Country: Unknown</span> <br />
            <span class="white-text">Age: Unknown</span>
          </div>
        </div>
        {% endif %}
        <div class="additional-navbar-functionality container">
          {% if user.is_authenticated %}
          <h5 class="white-text">Balance: {{user.player.balance}}$</h5>
          {% else %}
          <h5 class="white-text">Balance: 0$</h5>
          {% endif %}
          <a href="#" class="white-text">
            <h6 class="cursive-text"><u>Withdraw</u></h6>
          </a>
                <hr />
                <a href="games" class="white-text navbar-buttons"><i class="material-icons inline-icon">games</i>Games</a
          >
          <a href="profile" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">account_circle</i>Personal
            cabinet</a
          >
          <a href="#" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">settings</i>Settings</a
          >
          <hr />
          <a href="#" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">priority_high</i>Rules &
            conditions</a
          >
          <a href="#" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">perm_identity</i
            >Administration</a
          >
          <a href="FAQ" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">book</i>FAQ</a
          >
          <a href="#" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">help</i>Help and guidance</a
          >
          <a href="schedule" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">pool</i>Sharks shedule</a
          >
          <a href="feedbacks" class="white-text navbar-buttons"
            ><i class="material-icons inline-icon">feedback</i>Feedbacks</a
          >
        </div>
        {% if user.is_authenticated %}
        <a
          href="logout"
          class="custom-btn sidenav-account-btn sidenav-account-btn-left"
          >Log out from your account</a
        >
        {% else %}
        <a
          href="login"
          class="custom-btn sidenav-account-btn sidenav-account-btn-left"
          >Sign In</a
        >
        <a
          href="registration"
          class="custom-btn sidenav-account-btn sidenav-account-btn-right"
          >Register</a
        >{% endif %}
      </div>
    </div>

    <div class="background" style="min-height: 800px">
      <div class="inner-canvas" style="padding: 2% 3% 2% 3%; height: 800px">
        <div class="main-info center-align">
          {% if user.is_authenticated %}
          <div class="row">
            <div class="col s12 m3 center-align left-section">
              <h2
                class="center-align white-text"
                style="font-size: calc(1.2vw + 1.2em)"
              >
                {{user.first_name}} {{user.last_name}} #{{user.id}}
              </h2>
              {% if user.is_authenticated and user.player.avatar %}
              <img
                src="{{user.player.avatar.url}}"
                alt=""
                class="user-profile-photo"
              />
              {% else %}
              <img
                src="{% static 'img/guest-user.jpg' %}"
                alt=""
                class="user-profile-photo"
              />
              {% endif %}
              <div class="center-align">
                <a class="white-text custom-btn update-avatar-btn">Update avatar</a>
            </div>

        </div>
        <div class="col s12 m9">
            <div class="row center-align">
                <div class="col s12 m6 x2">
                    <div class="info-block">
                        <span class="white-text info-label">First name:</span>
                        <span class="white-text thin-writing info-data">{{user.first_name}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Second Name:</span>
                        <span class="white-text thin-writing info-data">{{user.last_name}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Age:</span>
                        <span class="white-text thin-writing info-data">{{user.player.age}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Country:</span>
                        <span class="white-text thin-writing info-data">{{user.player.country}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Favourite slot:</span>
                        <span class="white-text thin-writing info-data">{{user.player.favorite_slot}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Hotel room:</span>
                        <span class="white-text thin-writing info-data">{{user.player.hotel_room}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label"
                      >Amount of people, arrived in hotel:</span
                    >
                    <span class="white-text thin-writing info-data"
                      >{{user.player.with_amount}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Has an insurance</span>
                        <span class="white-text thin-writing info-data">{{user.player.insurance}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label"
                      >Have been injured during vacancy:</span
                    >
                    <span class="white-text thin-writing info-data"
                      >{{user.player.injured}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Senior:</span>
                        <span class="white-text thin-writing info-data">{{user.player.is_senior}}</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Total lost:</span>
                        <span class="thin-writing info-data red-dark-text">{{user.player.lost}}$</span
                    >
                  </div>
                </div>
                <div class="col s12 m6 x2">
                  <div class="info-block">
                    <span class="white-text info-label">Total won:</span>
                        <span class="thin-writing info-data green-dark-text">{{user.player.win}}$</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <h1 class="white-text">There is nothing to show yet!</h1>
          {% endif %}
        </div>
      </div>
    </div>
    <script src="{% static 'js/randomBackground.js' %}"></script>
    <script src="{% static 'js/updateAvatar.js' %}"></script>

    <div class="white-text footer center-align">
      <h3 class="cursive-text footer-header">Follow us on social medias:</h3>
      <a href="#" class="white-text">Instagram</a><br />
                <a href="#" class="white-text">Facebook</a><br />
                <a href="#" class="white-text">LinkedIN</a><br />
                <p class="signature cursive-text">
                    Made specially for web-technologies course by Lee Alexander.
                </p>
            </div>
            <script src="{% static 'js/materialize.js' %}"></script>
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    var elems = document.querySelectorAll(".sidenav");
                    var options = {};
                    var instances = M.Sidenav.init(elems, options);
                });
            </script>
</body>

</html>