<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/schedule.css' %}" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lab Work #2</title>
  </head>

  <body>
    {% include "Evdokimov/navbar.html" %}
    <div class="background">
      <div class="inner-canvas" style="padding-bottom: 5%; padding-top: 5%">
        <div class="main-schedule-table">
          <div class="row">
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">1</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">2</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">3</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">4</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">5</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">6</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">7</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">8</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">9</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">10</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">11</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">12</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">13</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">14</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">15</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">16</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">17</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">18</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">19</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">20</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">21</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">22</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">23</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">24</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">25</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">26</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">27</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">28</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">29</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">30</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col l2 m4 s6 table-element">
              <div class="cell-container white-text thin-writing">
                <span class="cell-date cursive-text">July</span>
                <span class="cell-date-number thin-writing">31</span>
                <hr />
                <div class="main-cell-info thin-writing">
                  <ul class="cell-list">
                    <li class="cell-action-list">No limit swimming</li>
                    <li class="cell-action-list">Pool party</li>
                    <li class="cell-action-list">Bar at the beach</li>
                    <li class="cell-action-list">
                      Sharks are goin on walk only at 20:00 P M
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "Evdokimov/footer.html" %}
    <script src="{% static 'js/materialize.js' %}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".collapsible");
        var options = {};
        var instances = M.Collapsible.init(elems, options);
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".sidenav");
        var options = {};
        var instances = M.Sidenav.init(elems, options);
      });
    </script>
  </body>
</html>
