.background {
    background-image: url(../img/FAQ_background.jpg);
    background-position: center;
    background-size: cover;
}

.main-faq-info {
    background-color: var(--dark-grey);
    border: none !important;
    padding-top: 0.5%;
}

.element-header {
    color: var(--white)
    font-weight: 700;
    font-size: calc(0.8vw + 0.8em);
    transition: 0.4s;
}

.element-header:hover {
    color: var(--black)
    background-color: var(--white)
    transition: 0.4s;
}

.collapsible-header {
    background-color: var(--dark-grey);
    border: 0px transparent var(--dark-grey) !important;
    outline: none !important;
}

.collapsible-body {
    font-weight: 700;
    font-size: calc(0.8vw + 0.8em);
    border: none;
    outline: none !important;
    background-color: white !important;
}