.background {
    background-image: url("../img/reg-form-basckground.jpg");
    background-position: center;
    background-size: cover;
}

.form-wrapper {
    background-color: rgba(27, 27, 27, 0.9);
}

.custom-input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}

.submitting-button {
    background-color: rgb(27, 27, 27);
    font-size: calc(1vw + 1em);
    margin: 5%;
}