.header {
    background-color: rgb(27, 27, 27);
    width: 100%;
    border: 0px transparent black;
    border-bottom: 8px solid rgb(20, 20, 20);
    padding: 15px 30px 0px 30px;
}

.inline-icon {
    vertical-align: bottom;
    font-size: calc(1.5vw + 1.5em);
}

.logo {
    color: rgb(183, 0, 0);
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
    font-size: calc(1vw + 1em);
    padding: 0%;
    margin: 0%;
    margin-left: 25%;
}

.main-bckgd {
    background-image: url("/src/img/background-image1.jpg");
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: 0.4s;
}

.circle-card {
    padding: 15px !important;
    background-color: rgba(40, 40, 40, 1);
    border-radius: 50%;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    max-width: 300px;
    margin-bottom: 10%;
}

.circle-card-header {
    margin: 40px !important;
}

.divided-info {
    padding: 0%;
    margin: 0%;
}

.left-divided-section {
    background-image: url("/src/img/divided-section-1.jpg");
    background-position: center;
    background-size: cover;
    padding: 0% !important;
    margin: 0%;
    background-size: cover;
}

.right-divided-section {
    padding: 0% !important;
    margin: 0%;
    background-image: url("/src/img/divided-section-2.jpg");
    background-position: center;
    background-size: cover;
}