@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

@media (prefers-color-scheme: light) {
    :root {
        --dark-grey: rgb(230, 230, 230);
        --black: rgb(78, 78, 78);
        --bright-green: rgb(24, 94, 11);
        --bright-red: rgb(85, 0, 0);
        --white: #000000;
        --almost-black: rgb(235, 235, 235);
        --grey-transparent: rgba(218, 218, 218, 0.5);
        --golden: rgb(88, 75, 61);
        --bloody: rgba(255, 0, 0, 0.486);
        --saturated-grey: rgb(135, 135, 135);
        --teal: rgb(35, 58, 107);
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --dark-grey: rgb(27, 27, 27);
        --black: black;
        --bright-green: rgb(42, 160, 18);
        --bright-red: rgb(183, 0, 0);
        --white: #000000;
        --almost-black: rgb(20, 20, 20);
        --grey-transparent: rgba(40, 40, 40, 0.5);
        --golden: rgb(161, 136, 111);
        --bloody: rgba(183, 0, 0, 0.4);
        --saturated-grey: rgb(135, 135, 135);
        --teal: rgb(83, 137, 253);
    }
    body{
        background-color: var(--black);
    }
    .invertable {
        filter: invert(100%);
    }
}

body {
    padding: 0%;
    margin: 0%;
    font-family: "Fjalla One", sans-serif;
    overflow-x: hidden;
}

.white-text{
    color: var(--white) !important;
}

.black-text{
    color: var(--black) !important;
}

.grey-text{
    color: var(--saturated-grey) !important;
}

.red-dark-text{
    color: var(--bloody) !important;
}

.red-text{
    color: var(--bright-red) !important;
}

.green-text{
    color: var(--bright-green) !important;
}

.header {
    background-color: var(--dark-grey);
    width: 100%;
    border: 0px transparent var(--black);
    border-bottom: 8px solid var(--almost-black);
    padding: 15px 30px 0px 30px;
}

.inline-icon {
    vertical-align: bottom;
    font-size: calc(1.5vw + 1.5em);
}

.red-dark-text {
    color: var(--bright-red);
}

.green-dark-text {
    color: var(--bright-green);
}

.logo {
    color: var(--bright-red);
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    font-size: calc(1vw + 1em);
    padding: 0%;
    margin: 0%;
    margin-left: 25%;
}

.navbar-buttons {
    margin-top: 3%;
    transition: 0.4s;
    display: block;
}

.navbar-buttons:hover {
    border-bottom: 1px solid var(--white);
    transition: 0.4s;
}

.user-avatar {
    width: 100%;
    background-image: url("../img/guest-user.jpg");
    background-position: center;
    background-size: cover;
}

.sidenav-account-btn {
    position: absolute;
}

.sidenav-account-btn-left {
    left: 10%;
    top: 85%;
}

.sidenav-account-btn-right {
    left: 60%;
    top: 85%;
}

.sidenav-bckgd {
    background-color: var(--dark-grey);
    border-bottom: 8px solid var(--almost-black);
}

.inner-canvas {
    padding: 15%;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--grey-transparent);
}

.custom-btn {
    color: var(--white);
    border: 1px solid var(--golden);
    padding: 5px 20px 5px 20px;
    transition: 0.4s;
}

.custom-btn:hover {
    transition: 0.4s;
    background-color: var(--golden);
}

.btn-background {
    width: 100%;
    background-color: var(--white)
}

.cursive-text {
    font-family: "Great Vibes", cursive;
}

.darken-background {
    background-color: var(--grey-transparent);
}

.darken-background-red {
    background-color: var(--bloody);
}

.nav-text {
    font-size: calc(0.6vw + 0.6em);
}

.custom-beige-font {
    color: var(--golden);
}

.white-bordered {
    border: 1px solid var(--white)
}

.thin-writing {
    font-family: "Montserrat", sans-serif;
}

.carousel-btns {
    top: 0;
    left: 0;
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: 0.4s;
    color: var(--white)
}

.carousel-btns:hover {
    color: var(--golden);
    transition: 0.4s;
}

.carousel-btn-left {
    top: 45%;
}

.carousel-btn-right {
    top: 45%;
    left: 96%;
}

.footer {
    position: relative;
    margin: 0% !important;
    padding: 1%;
    background-color: var(--dark-grey);
}

.footer-header {
    margin: 0%;
}

.signature {
    left: 73%;
    top: 70%;
    position: absolute;
}

.dropdown-content li>a,
.dropdown-content li>span {
    font-family: "Montserrat", sans-serif;
    color: var(--saturated-grey) !important;
    font-weight: 700;
}

.autocomplete-content li .highlight {
    font-family: "Montserrat", sans-serif;
    color: var(--almost-black) !important;
    font-weight: 700;
}

.custom-btn-red {
    font-size: calc(0.6vw + 0.6em);
    background-color: var(--white);
    border: 1px solid var(--bright-red);
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.custom-btn-red:hover {
    background-color: var(--bright-red);
    color: var(--black) !important;
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.custom-btn-blue {
    font-size: calc(0.6vw + 0.6em);
    background-color: var(--white);
    border: 1px solid var(--teal);
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.custom-btn-blue:hover {
    background-color: var(--teal);
    color: var(--black) !important;
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.custom-btn-green {
    font-size: calc(0.6vw + 0.6em);
    background-color: var(--white);
    border: 1px solid var(--bright-green);
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.custom-btn-green:hover {
    background-color: var(--bright-green);
    color: var(--black) !important;
    transition: 0.4s;
    margin: 0% 1% 0% 1%;
}

.btn-background-dark {
    background-color: var(--dark-grey);
    color: green;
    padding: 1%;
}