.background {
    background-image: url("../img/reg-form-basckground.jpg");
    background-position: center;
    background-size: cover;
}

.form-wrapper {
    background-color: var(--dark-grey);
}

.custom-input:focus {
    border-bottom: 1px solid var(--white) !important;
    box-shadow: 0 1px 0 0 var(--white) !important
}

.submitting-button {
    background-color: var(--dark-grey);
    font-size: calc(1vw + 1em);
    margin: 5%;
}

::placeholder { 
    color: var(--white);
 }